{% extends "layout.html" %}

{% block head %}

<title>Sobre - Rodrigo Almeida</title>

{% endblock %}

{% block content %}
<div id="wrapper">
    <img src="https://avatars1.githubusercontent.com/u/42939426?s=460&u=6a2a721b6e94d314acebc0ceedd5113824010b10&v=4"
        alt="Rodrigo Almeida">
    <h1>Rodrigo Almeida</h1>
    <h2>Programador júnior - Freelancer</h2>
    <p> <a href="https://github.com/rodrigoaalmeida" target="_blank">Programador</a> em aprendizado contínuo, tenho a
        meta de trabalhar na área antes de
        chegar aos trinta e cinco anos, e pretendo me aposentar por ela algum dia, para
        isso estou aprendendo web e inglês.</p>
</div>

<div id="links-footer" class="links">
    <a href="https://github.com/rodrigoaalmeida" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/rodrigo-andrade-de-almeida-a65b97167/" target="_blank">Linkedin</a>
</div>

{% endblock %}